<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Checkout | Example e-commerce system</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="margin-bottom: 0;">
    <div class="container">
        <a class="navbar-brand" href="/">Example</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/orders" th:if="${isUserLoggedIn && (user.role == 'ADMINISTRATOR' || user.role == 'EMPLOYEE')}" style="color: white;">Manage orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/create-employee" th:if="${isUserLoggedIn && (user.role == 'ADMINISTRATOR')}" style="color: white;">Create employee</a>
                </li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Link</a></li>-->
                <!--<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>-->
            </ul>
            <div class="form-inline my-2 my-lg-0 text-light">
                <div class="form-inline my-2 my-lg-0 text-light">
                    <a href="/users" th:if="${isUserLoggedIn}" style="color: white;" th:text="'User: ' + ${user.name} + '&nbsp;|&nbsp;'"></a>
                    <a href="/users" th:if="${!isUserLoggedIn}" style="color: white;">Sign in</a>
                    <span th:if="${!isUserLoggedIn}">&nbsp;or&nbsp;</span>
                    <a href="/register" th:if="${!isUserLoggedIn}" style="color: white;">register</a>
                    <span th:if="${!isUserLoggedIn}">&nbsp;|&nbsp;</span>
                    <a href="/shopping-cart" style="color: white;">Shopping cart has&nbsp;<span th:text="${cartCount}"></span>&nbsp;items</a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Example e-commerce system</h1>
    <p>Checkout</p>
</div>

<div class="container" style="margin-bottom: 50px">
    <h2>Checkout</h2>
    <form action="#" th:action="@{/checkout}" th:object="${checkoutForm}" method="post">
        <fieldset class="form-group">
            <legend>Shipping address</legend>
            <div class="form-group row">
                <label for="shipping-country" class="col-sm-2 col-form-label">Country:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="shipping-country" type="text" th:field="*{shippingCountry}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="shipping-city" class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="shipping-city" type="text" th:field="*{shippingCity}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="shipping-street" class="col-sm-2 col-form-label">Street:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="shipping-street" type="text" th:field="*{shippingStreet}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="shipping-postal" class="col-sm-2 col-form-label">Postal:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="shipping-postal" type="text" th:field="*{shippingPostal}"/>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group">
            <legend>Billing address</legend>
            <div class="form-group row">
                <label for="billing-country" class="col-sm-2 col-form-label">Country:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="billing-country" type="text" th:field="*{billingCountry}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="billing-city" class="col-sm-2 col-form-label">City:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="billing-city" type="text" th:field="*{billingCity}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="billing-street" class="col-sm-2 col-form-label">Street:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="billing-street" type="text" th:field="*{billingStreet}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="billing-postal" class="col-sm-2 col-form-label">Postal:</label>
                <div class="col-sm-10">
                    <input class="form-control" id="billing-postal" type="text" th:field="*{billingPostal}"/>
                </div>
            </div>
        </fieldset>

        <input class="btn btn-primary btn-success" type="submit" value="Submit"/>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
