<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Example e-commerce system</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark navbar-expand-lg" style="margin-bottom: 0;">
    <div class="container">
        <a class="navbar-brand" href="/">Example</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item"><a class="nav-link" href="#">Link</a></li>-->
                <!--<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>-->
            </ul>
            <div class="form-inline my-2 my-lg-0 text-light">
                <a href="/shopping-cart" style="color: white;">Shopping cart has&nbsp;<span th:text="${cartCount}"></span>&nbsp;items</a>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron text-center">
    <h1>Example e-commerce system</h1>
    <p>Buy everything you need!</p>
</div>

<div class="container" th:if="${successMessage != null || errorMessage != null || infoMessage != null}">
    <div th:if="${successMessage != null}" th:text="${successMessage}" class="alert alert-success"></div>
    <div th:if="${infoMessage != null}" th:text="${infoMessage}" class="alert alert-info"></div>
    <div th:if="${errorMessage != null}" th:text="${errorMessage}" class="alert alert-danger"></div>
</div>

<div class="container">
    <div class="row">
        <div th:each="product : ${products}" class="col-sm-4">
            <!--/*@thymesVar id="product" type="cz.filipklimes.diploma.framework.example.ui.business.Product"*/-->
            <h3 th:text="${product.name}"></h3>
            <p th:text="${#numbers.formatDecimal(product.sellPrice, 0, 'COMMA', 2, 'POINT')} + ' €'"></p>
            <p th:text="${product.description}"></p>
            <a th:href="@{/add-to-cart/{productId}(productId=${product.id})}">Add to cart</a>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
